<div class="container-fluid" ng-controller="PetsController">
    <div class="text-center">

        <p class="instructions">Select a type of pet, then click the button to play the pet lottery</p>
        <div class="col-md-2 col-md-offset-5">
            <select class="form-control" required ng-model="selectedPet" ng-options="pet.label for pet in pets">
            <option value="">Select a Pet</option>
            </select>
            <br />
            <button class="submit btn btn-primary" ng-click="getRandomPet()">Pet Lottery</button>
        </div>
        <div class="box col-md-8 col-md-offset-2 ng" ng-show="animal.name">


            <h3>{{animal.name.$t}}</h3>
            <img ng-if="animal.media.photos.photo[3].$t" ng-src="{{animal.media.photos.photo[3].$t}}"></img>
            <p class="description">{{animal.description.$t ? animal.description.$t : "No description provided"}}</p>
            <br />
            <button class="favorite btn btn-primary" ng-click="addFavorite()" alt="Add to Favorites">Favorite</button>
        </div>
    </div>
</div>
